/* PALETA DE CORES */

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&family=Roboto:wght@300;500&display=swap');

nav a{
 
    font-family: 'Roboto', sans-serif ;
    font-size: 22px;
    font-weight: 500;

}
h2 h3{
    font-family: 'Poppins', sans-serif !important;
}
/* ATENÇAO AO CRIAR ALTERACOES NESTA AREA!! APENAS PARA ALTERACAO QUE >>>>NAO SEJA POSSIVEL<<<<PELO BOOTSTRAP*/

/* DESIGNS */
h2{
    font-size: 36px;
    font-weight: 800;
}
h3{
    font-size: 18px;
    font-weight: 200;
}

li{
    font-size: 12px;
}

.card{
    display: inline-flex;
    margin: 10px;
    padding: 0px;
}


.mx-10{
    margin-right: 10rem!important;
    margin-left: 10rem!important;
}
.banner{
    background-color: black;
    color: white ;
}

.banner h3 {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0 !important;

}
.navegacao{
    margin: 20px 0;
}
.caminho{
    margin: auto 0;
}
.link-icon{
    color: rgba(0,0,0,.55);
}

#imgsize{
    width: 500px;
    height: 500px;
}